{{#if resume.education.length}}
<section class="section-education">
	{{#each resume.education}}
	<div class="item">
		<div class="studyTitle">
			{{#if studyType}}
			<span class="studyType">
				{{studyType}}
			</span>
			{{/if}}
			{{#if area}}
			<span class="area">
				({{area}})
			</span>
			{{/if}}
		</div>
		{{#if institution}}
		<div class="institution">
			{{institution}}
		</div>
		{{/if}}
		<div class="date">
			{{#if startDate}}
			<span class="startDate">
				{{formatDate startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="endDate">
				- {{formatDate endDate}}
			</span>
			{{else}}
			<span class="endDate">
				- Present
			</span>
			{{/if}}
		</div>
	</div>
	{{/each}}
</section>
{{/if}}