{{#if resume.trainings.length}}
<section class="section-trainings">
	{{>title title='Courses'}}
	{{#each resume.trainings}}
	<div class="item">
		{{#if course}}
		<div class="course">
			<span class="title">
				{{course}}
			</span>
		</div>
		{{/if}}
		{{#if institution}}
		<div class="institution">
			<span class="name">
				{{institution}}
			</span>
			{{#if website}}
			<span class="website">
				| {{website}}
			</span>
			{{/if}}
		</div>
		{{/if}}
		<div class="date">
			{{#if startDate}}
			<span class="startDate">
				{{formatDate startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="endDate">
				- {{formatDate endDate}}
			</span>
			{{/if}}
		</div>
	</div>
	{{/each}}
</section>
{{/if}}
