{{#if resume.work.length}}
<section class="section-work">
	{{#each resume.work}}
	<div class="item">
		{{#if position}}
		<div class="position">
			{{position}}
		</div>
		{{/if}}

		<div class="company">
			{{#if company}}
			<span class="name">
				{{company}}
			</span>
			{{/if}}
			<span class="date">
				{{#if experience}}
				<span class="experience">
					{{formatExperience experience}}
				</span>
				{{/if}}
			</span>
		</div>

		{{#if summary}}
		<div class="summary">
			<p>
				{{summary}} <b>{{techStack}}</b>
				{{#if endSummary}}
				{{endSummary}}
				{{/if}}
			</p>
		</div>
		{{/if}}
		{{#if keywords.length}}
		<div id="work-keywords-overrides">
			<div class="keywords">
				{{#each keywords}}
				<span class="label">{{.}}</span>
				{{/each}}
			</div>
		</div>
		{{/if}}
		{{#if highlights.length}}
		<ul class="highlights">
			{{#each highlights}}
			<li><span>{{.}}</span></li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}